
.message-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* 메시지 컨테이너를 오른쪽으로 정렬 */
  margin-top: 10px;
  margin-bottom: 10px;
}

.bubble {
  position: relative;
  max-width: 70%;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 5px;
  white-space: pre-line;
}

.user {
  justify-content: flex-end;
}

.user .bubble {
  align-self: flex-end;
  background-color: #00366c
  ; /* 사용자 메시지 색상 */
  color: #fff;
}

.user .profile {
  margin-left: 10px; /* 프로필 사진과 말풍선 사이 여백 */
}

.bot {
  justify-content: flex-start;
}

.bot .bubble {
  background-color: #e8e8e8; /* 챗봇 메시지 색상 */
  color: #616161;
}

.bot .profile {
  margin-right: 10px; /* 프로필 사진과 말풍선 사이 여백 */
}

.profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.chat-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh; /* 채팅 창 전체 높이를 화면 높이로 설정 */
  background-color: #ffffff; /* 채팅 창 배경색 */
  /* padding: 20px; */
  overflow: hidden;
}

.chat-messages {
  width: auto;
  flex: 1; /* 채팅 메시지 영역이 창의 남은 공간을 채우도록 설정 */
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
}

.chat-input-container {
  display: flex;
  flex-grow: 0;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.chat-input {
  width: 100%;
  height: 100%;
  flex: 1; /* 입력창이 가능한 한 많은 공간을 차지하도록 설정 */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.report-button {
  background-color: #aacdf0;
  color: black;
}

.message-container button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #002853; /* 재시작 버튼 배경색 */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.message-container button:hover {
  background-color: #002853; /* 재시작 버튼 호버 시 배경색 */
}

.options-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 왼쪽 정렬 */
  margin: 10px 0;
}

.sub-options-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* 왼쪽 정렬 */
  margin-top: 10px;
}

.option-button {
  background-color: #002853;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 5px;
  cursor: pointer;
}

.option-button:hover {
  background-color: #002853;
}